include *.rst *.txt LICENSE .travis.yml tox.ini

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs *.scss
recursive-include docs *.js
recursive-include docs *.html
recursive-include docs *.svg
include docs/sphinx/Makefile docs/sphinx/make.bat

recursive-include examples *.py

recursive-include tests *.py
recursive-include tests *.txt
recursive-include tests/integration/data *.wav
recursive-include tests/integration/data *.rst
include tests/pylintrc

prune docs/_build
